:root {
  --font-decorative: "VT323", monospace;
  --font-body: "Inter", sans-serif;

  --bg-color: rgb(250, 250, 250);
  --fg-color: rgb(38, 38, 38);
  --fg-faded-color: rgb(102,102,102);
  --hl-color: rgb(243, 237, 217);
}

h1,
header {
  font-family: var(--font-decorative);
}

body,
p,
button,
input {
  font-family: var(--font-body);
}

h1 {
  font-size: 3.6em;
  margin-bottom: 0.4em;
}

h2 {
  margin-top: 2em;
}

a {
  color: var(--fg-color);
}

a:hover {
  color: var(--fg-faded-color);
}

blockquote {
  background-color: var(--bg-color);
  padding: 8px 0 12px 24px;
  margin: 0;
  
  & p {
    margin: 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;

  & li {
    border-bottom: 1px solid var(--fg-color);
    padding: 4px 2px;
  }

  & li:last-child {
    border: 0;
  }

  & li:nth-child(even) {
    background-color: var(--bg-color);
  }
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;

  color: var(--fg-color);
  background: var(--bg-color);

  font-size: 16px;
}

header {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0;
  padding: 10px 16px 0 16px;
  background-color: var(--bg-color);
  font-size: 1.4rem;
  z-index: 1;
}

.classic-title {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}


nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: end;
  padding-right: 30px;
  align-items: flex-end;

  & label {
    text-align: end;
    padding: 4px 12px;
    border: 1px solid var(--fg-color);
    border-radius: 12px;
    box-shadow: 1px 1px 0 0 var(--fg-color);
  }

  & label:hover {
    background-color: var(--hl-color);
    box-shadow: 1px 1px 0 0 inset var(--fg-color);
  }
}

.main-nav-links {
  text-align: center;

  & div {
    padding: 4px 12px;
    border: 1px solid var(--fg-color);
    border-radius: 12px;
    box-shadow: 1px 1px 0 0 var(--fg-color);
  }

  & div:hover {
    background-color: var(--hl-color);
    box-shadow: 1px 1px 0 0 inset var(--fg-color);
  }

  & a {
    padding: 4px 6px;
    text-decoration: none;
    background-color: var(--bg-color);
  }

  & a:hover {
    color: var(--fg-color);
  }

  & .current {
    background-color: var(--hl-color);
    box-shadow: 1px 1px 0 0 inset var(--fg-color);
  }
}

nav {
  input[type="checkbox"] {
    display: none;
  }

  .main-nav-links {
    display: none;
    margin: 0;
    padding: 0;
  }
}

.main-nav-toggle:checked ~ .main-nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & a {
    padding: 6px 0;
  }
}

.main-nav-toggle:checked + label {
  background-color: var(--hl-color);
  box-shadow: 1px 1px 0 0 inset var(--fg-color);
  color: var(--fg-color);
}

.ruler-horizontal {
  height: 20px;

  /* Low ticks */
  --ruler1-bdw: 1px;
  --ruler1-c: var(--fg-color);
  --ruler1-h: 8px;
  --ruler1-space: 5;

  /* Medium ticks */
  --ruler2-bdw: 1px;
  --ruler2-c: var(--fg-color);
  --ruler2-h: 14px;
  --ruler2-space: 25;

  /* Tall ticks */
  --ruler3-bdw: 1px;
  --ruler3-c: var(--fg-color);
  --ruler3-h: 20px;
  --ruler3-space: 50;

  background-image:
    linear-gradient(90deg, var(--ruler1-c) 0 var(--ruler1-bdw), transparent 0),
    linear-gradient(90deg, var(--ruler2-c) 0 var(--ruler2-bdw), transparent 0),
    linear-gradient(90deg, var(--ruler3-c) 0 var(--ruler3-bdw), transparent 0);

  background-repeat: repeat-x;
  background-size:
    calc(1px * var(--ruler1-space)) var(--ruler1-h),
    calc(1px * var(--ruler2-space)) var(--ruler2-h),
    calc(1px * var(--ruler3-space)) var(--ruler3-h);

  transform: scaleX(-1) rotate(180deg);

  margin-top: 1rem;
  padding-bottom: 0.6rem;
  border-top: 1px solid var(--fg-color);
  border-bottom: 1px solid var(--fg-color);
}

main {
  flex-grow: 1;
  width: 100%;

  display: grid;
  grid-template-columns: auto minmax(min-content, 1000px) auto;
  grid-template-rows: 40px 1fr 40px;

  position: relative;
  margin-inline: auto;
}

.content-top,
.content-bottom {
  border-left: 2px dotted gray;
  border-right: 2px dotted gray;
}

.content-left,
.content-right {
  border-top: 2px dotted gray;
  border-bottom: 2px dotted gray;
}

.content-container {
  min-height: 40vh;
  padding: 0 2rem 2rem 2rem;
  border: 1px solid var(--fg-color);
  background-color: white;
}

@media (max-width: 767px) {
  main {
    grid-template-rows: 0px 1fr 20px;
  }

  .guide {
    border: 0;
    /* height: 0; */
  }

  .ruler-horizontal {
    display: none;
  }

  header {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--fg-color);
  }

  .content-container {
    border-top: 0;
  }

  h1 {
    font-size: 2.6em;
  }
}

@media (min-width: 768px) {
  nav {
    margin-left: 10%;
    align-self: flex-start;

    & input,
    label {
      display: none;
    }
  }

  .main-nav-links {
    display: flex !important;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
