<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
    <link rel="icon" type="image/png" href="{{ '/assets/images/favicon-96x96.png' | relative_url }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/images/favicon.svg' | relative_url }}"/>
    <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}"/>
    <link rel="manifest" href="{{ '/assets/images/site.webmanifest' | relative_url }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=VT323&display=swap" rel="stylesheet">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <header>
      <div class="classic-title">C:\PROJECTS\VARJOKIRJAMESSUT -- ver. 2026</div>
      {% include navigation.html %}
      <div class="ruler-horizontal"></div>
    </header>
    <main>
      <div></div>
      <div class="guide content-top"></div>
      <div class="guide"></div>
      <div class="guide content-left"></div>
      <div class="content-container">
        {{ content }}
      </div>
      <div class="guide content-right"></div>
      <div class="guide"></div>
      <div class="guide content-bottom"></div>
      <div class="guide"></div>
    </main>
  </body>
</html>
